 </head>
<body  style="margin:20px">
  <div class="loader">
    <img class="image-icon image-spin" src="img/icons-svg/fa-spinner.svg">
    Loading ...
  </div>
  <div>
    	<h1>___PKG_EXPORTVAR___</h1>

  <div data-role="fieldcontain" style="display:none">
         <input type="file" id="fileJSON" name="fileJSON" value="Select JSON File" id="fileJSON" onchange="vJSONEditor.loadJSON(this.id)"/>
    </div>

    <div id="divNavigate"  align="center">
       <!-- the button vOpenJSON generates an onclick event for the fileJSON input file element in the DOM -->
       <button id='bOpenJSON' style="color: white;background-color: #225988"  onclick="$( '#fileJSON' ).trigger('click');return false">
       <img src="img/icons-svg/fa-folder-open-white.svg"> Load
       </button>
       <button id='bSaveJSON' style="color: white;background-color: #225988"  onclick="vJSONEditor.saveJSON();return false">
       <img src="img/icons-svg/fa-file-save-white.svg"> Save
       </button>
       &nbsp;
       &nbsp;
       <b>File: </b>  <tt id="display_filename">my_menu.json</tt>
       &nbsp;
       &nbsp;
       <!-- Function: view App -->
       <button id='bPreviewApp' style="color: white;background-color: #225988"  onclick="vJSONEditor.openAppPreview({'debug_output':'tOutput'});return false">
       <img src="img/icons-svg/eye-white.svg"> Preview App
       </button>

       <!--
       <button id='bExportCSS' style="color: white;background-color: #225988"  onclick="vJSONEditor.save4Template('css','.css','CSS Stylesheet for Menu');return false">
       <img src="img/icons-svg/fa-file-save-white.svg"> Export CSS
       </button>
       <button id='bExportHTML' style="color: white;background-color: #225988"  onclick="vJSONEditor.save4Template('html','.html','HTML file of WebApp with Menu');return false">
       <img src="img/icons-svg/fa-file-save-white.svg"> Export HTML-Menu
       </button>
       <button id='bExportJS' style="color: white;background-color: #225988"  onclick="vJSONEditor.save4Template('javascript','.js','Javascript file of WebApp with Menu');return false">
       <img src="img/icons-svg/fa-file-save-white.svg"> Export JS-Menu
       </button>
       -->
       <button id='bExportZIP' style="color: white;background-color: #225988"  onclick="vJSONEditor.save4ZIP(vOptionsZIP);return false">
       <img src="img/icons-svg/fa-file-save-white.svg"> Export WebApp as ZIP
       </button>
       <button id='bSettings' style="color: white;background-color: #A0A0A0"  onclick="vJSONEditor.toggleSettings('root.settings','root.data');return false">
       <img src="img/icons-svg/gear-white.svg"> Settings
       </button>
       <!--
          <button id='bAddRecord' style="color: white;background-color: #225988"  onclick="vEditor4JSON.add();return false">
            <i class="fa fa-plus-square" aria-hidden="true"></i> Add
          </button>

          <button id='bInitDB' style="color: white;background-color: #c10303"  onclick="vEditor4JSON.initAsk();return false">
            <i class="fa fa-minus-square" aria-hidden="true"></i> Init DB
          </button>
          -->
       <button id='bDeleteClass' style="color: white;background-color: #c10303"  onclick="vJSONEditor.init_ask();return false">
       <img src="img/icons-svg/fa-trash-white.svg"> Delete
       </button>
       <span id='valid_indicator'></span>
    </div>
<hr>
