  <!-- ### UML Default File  #####################
  used for initializing after delete menu click -->
  <script src="db/menu_default.js"></script>
  <!-- ### Menu Data File ####################### -->
  <script src="db/menu_data.js"></script>
  <!-- ### Files4JSON ####################### -->
  <script src="db/files4json.js"></script>
  <!-- ### HANDLEBARS4CODE TEMPLATE  #####################
  Template ID: "javascript"
  Template: vDataJSON["tpl"]["css"]
  -->
  <script src="tpl/css_tpl.js"></script>
  <!-- ### HANDLEBARS4CODE TEMPLATES  ############
  Template ID: "css"
  Template: vDataJSON["tpl"]["html"]
  -->
  <script src="tpl/html_tpl.js"></script>
  <!-- ### HANDLEBARS4CODE TEMPLATES  ############
  Template ID: "javascript"
  Template: vDataJSON["tpl"]["javascript"]
  -->
  <script src="tpl/javascript_tpl.js"></script>
  <!-- ### SCHEMA LOADER ############################
  script tag stores the JSON schema in
  vDataJSON.tpl.["menu_schema"]
  -->
  <script src="schema/menu_schema.js"></script>
<!-- ############################################## -->
  <script>
    // Delete JSON load the following default-JSON into JSON Editor
    var vDefaultJSON = vDataJSON.menu_default; //see file "db/menu_default.js"
    var vJSON = vDataJSON.menu_data; //see file "db/menu_data.js"
  </script>
