<!-- HTML code for embedding the source libraries into docs/index_src_libs.html -->
<script src='../src/npm_header.js'></script>
<script src='../src/libs/arrayhash.js'></script>
<script src='../src/libs/blob.js'></script>
<script src='../src/libs/classeditor.js'></script>
<script src='../src/libs/date.js'></script>
<script src='../src/libs/savefile.js'></script>
<script src='../src/libs/filesaver.js'></script>
<script src='../src/libs/jsoneditor_x.js'></script>
<script src='../src/libs/handlebars4code.js'></script>
<script src='../src/libs/linkparam.js'></script>
<script src='../src/libs/lib4menu.js'></script>
<script src='../src/libs/string.js'></script>
<script src='../src/libs/exportmod.js'></script>
<script src='../src/libs/extend_jsoneditor4menu.js'></script>