
	   <!-- BEGIN: src/html_tail.html -->
	   <center style="font-size: 10px;">
			  <a href="https://www.gitlab.com/niehausbert/jsoneditor4menu" target="_blank"> Git Sources JSONEditor4Menu</a> - <a href="https://www.gitlab.com/niehausbert/jsoneditor4menu/-/archive/master/jsoneditor4menu-master.zip"  target="_blank">Download JSONEditor4Menu ZIP</a>
			  <br>
			  Version: 1.1.26 Date: 2021/05/14 15:21:49 Author: Engelbert Niehaus
	   </center>
     <!-- END:  src/html_tail.html -->

	