
The library <tt>JSONEditor4Menu</tt> is a JSON Editor for creating HTML5 menus with CSS and HTML Templates for Hamburger Menus - based on JSON Editor of Jeremy Dorn. 
The source code of  JSONEditor4Menu can be downloaded as <a href="https://www.gitlab.com/niehausbert/jsoneditor4menu/-/archive/master/jsoneditor4menu-master.zip"  target="_blank">ZIP-file jsoneditor4menu.zip</a>
